/* You can add global styles to this file, and also import other style files */

input {
width: 358px;
height: 49px;
border-radius: 25px;
padding-left: 20px;
border:1px solid #eaeaea;
background:#EEEEEE 0% 0% no-repeat padding-box;
color: #999999;
}
input:focus, textarea:focus, select:focus{
  outline: none;
}
